<!DOCTYPE html>

{% extends 'myapp/base.html' %}

{% load widget_tweaks %}

{%block contentblock%}

        <div class="container mt-5">
            <!-- <p class="h1 text-center text-primary">Edit Page</p> -->

            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header bg-primary">
                            <p class="h1 text-white text-center">Edit {{student.StuName}}</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <!-- div for left side -->
                                 <div class="col-md-6">
                                    <form  method="post" enctype="multipart/form-data" novalidate>
                                        {%csrf_token%}

                                        <!-- {{form.as_p}} -->

                                        <div class="mb-3">
                                            {{form.StuId | add_class:"form-control" | attr:"placeholder=Enter_ID"}}
                                            {% if form.StuId.errors%}
                                                <div class="text-danger">{{ form.StuId.errors}}</div>
                                            {%endif%}
                                        </div>

                                         <div class="mb-3">
                                            {{form.StuName | add_class:"form-control" | attr:"placeholder=Enter_Name"}}
                                             {% if form.StuName.errors%}
                                                <div class="text-danger">{{ form.StuName.errors}}</div>
                                            {%endif%}
                                        </div>

                                         <div class="mb-3">
                                            {{form.Stumarks | add_class:"form-control" | attr:"placeholder=Enter_Marks"}}
                                             {% if form.Stumarks.errors%}
                                                <div class="text-danger">{{ form.Stumarks.errors}}</div>
                                            {%endif%}
                                        </div>

                                        <div class="form-group mb-3">
                                            {{form.StuEmail | add_class:"form-control" | attr:"placeholder=Enter_Email"}}
                                            {% if form.StuEmail.errors %}
                                                <div class="text-danger">{{form.StuEmail.errors}}</div>
                                            {%endif%}
                                        </div>

                                         <div class="form-group mb-3">
                                            {{form.StuImg | add_class:"form-control" | attr:"placeholder=Enter_Image"}}
                                        </div>



                                        <button class="btn btn-md mt-3 btn-primary">Edit</button>

                                        <a href="/" class="btn btn-md mt-3 float-end btn-warning">Back</a>
                                     </form>
                                 </div>

                                 <!-- Right side Image -->
                                  <div class="col-md-6 d-flex justify-content-center flex-column align-items-center">
                                        <p class="h5 text-primary text-center mb-3">Current Profile Image</p>

                                        {%if student.StuImg %}
                                            <img src="{{student.StuImg.url}}" alt="{{student.StuName}}" class="img-fluid rounded border" style="max-height: 200px; object-fit: cover;">

                                        {%else%}
                                            <div class="pt-4 text-center border rounded w-50 h-50">
                                                <p class="h6 text-muted mb-0">No Image Currently Saved</p>
                                            </div>
                                        {%endif%}

                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{%endblock%}