<!DOCTYPE html>

{% extends 'myapp/base.html' %}

{% load widget_tweaks %}

{%block contentblock%}

    <div class="container">
        <p class="h1 pb-2 mb-3 text-center text-white bg-primary">Register Student Here</p>

        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <p class="h2 text-center">Add Student</p>
                    </div>

                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" novalidate>

                            {%csrf_token%}

                            <!-- {{form.as_p}} -->

                            <div class="form-group mb-3">
                                {{form.StuId | add_class:"form-control" | attr:"placeholder=Enter_ID"}}
                               {% if form.StuId.errors %}
                                    <div class="text-danger">{{form.StuId.errors}}</div>
                                {%endif%}
                            </div>

                             <div class="form-group mb-3">
                                {{form.StuName | add_class:"form-control" | attr:"placeholder=Enter_Name"}}
                                 {% if form.StuName.errors %}
                                    <div class="text-danger">{{form.StuName.errors}}</div>
                                {%endif%}
                            </div>

                             <div class="form-group mb-3">
                                {{form.Stumarks | add_class:"form-control" | attr:"placeholder=Enter_Marks"}}
                                {% if form.Stumarks.errors %}
                                    <div class="text-danger">{{form.Stumarks.errors}}</div>
                                {%endif%}
                            </div>

                            <div class="form-group mb-3">
                                {{form.StuEmail | add_class:"form-control" | attr:"placeholder=Enter_Email"}}
                                {% if form.StuEmail.errors %}
                                    <div class="text-danger">{{form.StuEmail.errors}}</div>
                                {%endif%}
                            </div>

                            <div class="form-group mb-3">
                                {{form.StuImg | add_class:"form-control" | attr:"placeholder=Enter_Image"}}
                            </div>



                            <button class="btn fw-bold btn-sm btn-primary">Register</button>

                            <a href="/" class="btn  ps-3 pe-3 text-white fw-bold btn-sm btn-warning float-end">List</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>

        

{%endblock%}